.pbOpacity,.pbOpacityError{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.6);
	z-index:999999;
}
.pbContent{
	width:300px;
	height:320px;
	background-color:#fff;
	margin:40% auto;
	position:relative;
	border-radius:10px;
	box-shadow:0 0 30px rgba(0,0,0,.6);
	text-align:center;
}
.pbCTitle1{
	padding:10px 0;
	text-align:center;
	font-size:18px;
	color:#666;
	border-bottom:2px solid #eee;
}
.pbCcloseIcon{
	background:url("../img/commonIcons/close.jpg")/*tpa=https://cdn.comons.cn/img/commonIcons/close.jpg*/ no-repeat center center;
	background-size:100%;
	display:inline-block;
	position:absolute;
	top:0;
	right:0;
	width:31px;
	height:31px;
	border-radius:10px;
}
.pbCImg{
	margin-top:12%;
	text-align:center;
}
.pbCImg img{
	display:inline-block;
	width:auto !important;
}
.pbCTitle2{
	font-size:16px;
	margin-top:10px;
	padding:0 10px;
}
.pbCTitle2 .public{
	color:#f54343;
	font-weight:bold;
}
.pbCTitle3{
	font-size:14px;
	color:#999;
	margin-top:10px;
	padding:0 10px;
}
.pbCTowxBox{
	position:absolute;
	bottom:18px;
	width:100%;
}
.pbCTowx{
	width:90%;
	display:block;
	margin:0 auto;
	text-decoration:underline;
	background-color:#f54343;
	border-radius:5px;
	color:#fff;
	font-size:16px;
	padding:10px 0;
	border:1px solid rgba(255,0,0,.5);
	box-shadow:1px 1px 2px rgba(0,0,0,.6);
}